*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 150%;
    height: 150vh;
    background: #091836;
    display: flex;
    text-align: center;
    justify-content: center;
}

.insta{
    width: 270px;
    height: 270px;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, 
    #f15245 30%, #d92e7f 62%, #9b36b7 85%,
    #515ecf);
    border-radius: 54px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 10px;
}

.insta-inner{
    width: 200px;
    height: 200px;
    border: 18px solid #fff;
    border-radius: 54px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 35px;
    left: 35px;
}


.insta-inner2{
    width: 100px;
    height: 100px;
    border: 18px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 35px;
}

.insta-inner::after{
    content: '';
    background: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    right: 75px;
}